# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Dev Container
.devcontainer/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db